.post1{
    float: left;
    padding: 10px;
}
.post1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
    padding: 5px;
}
.post{
    overflow: hidden;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 40px;
    float: left;
}

.post img{
    width: 320px;
    height: 180px;
    border-radius: 25px 0px 25px 25px;
}

.title{
    overflow: hidden;
    padding: 40px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title a{
    text-decoration: none;
}

.title h1{
    color: rgb(22, 144, 245);
    text-decoration: none;
    line-height: 20px;
    text-align: left;
}

.title p{
    color: rgb(48, 48, 48);
    text-decoration: none;
    text-align: justify;
}

.category{
    overflow: hidden;
    padding: 50px 250px;
    font-size: 15px;
}

.category a.cat1{
    border: 2px solid rgb(21, 144, 245);
    padding: 20px 100px;
    border-radius: 50px;
    color: rgb(21, 144, 245);
    text-decoration: none;
    font-weight: bold;
    float: left;
}

.category a.cat1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.category a.cat2{
    border: 2px solid rgb(21, 144, 245);
    padding: 20px 75px;
    border-radius: 50px;
    color: rgb(21, 144, 245);
    text-decoration: none;
    font-weight: bold;
    float: right;
}

.category a.cat2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}