*{box-sizing: border-box;}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    overflow: hidden;
    background-color: white;
    padding: 20px 20px;
}

.header a{
    float: left;
    color: rgb(21, 144, 245);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 5px;
}

.header a.logo{
    font-size: 30px;
    font-weight: bold;
}

.right{
    float: right;
}