.newsinfo{
    overflow: hidden;
    padding: 40px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.newsinfo h1{
    color: rgb(22, 144, 245);
    text-decoration: none;
    line-height: 20px;
    text-align: left;
    font-size: 30px;
}

.newsinfo h2{
    color: rgb(48, 48, 48);
    text-decoration: none;
    line-height: 20px;
    text-align: left;
}

.newsinfo p{
    color: rgb(48, 48, 48);
    text-decoration: none;
    text-align: justify;

}

.newsinfo img{
    width: 600px;
    height: 300px;
    float: right;
    padding: 10px 0px 10px 20px;
}